.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 652px;
    margin: auto;
    background-color: #fff;
}

.contentTop {
    width: 100%;
    max-width: 854px;
    height: 120px;
}

.contentTopFacebookPost {
    margin: 16px;
    width: 100%;
    max-width: 854px;
}

.contentTopFacebookIframe {
    border: none;
    overflow: hidden;
}

.youtubePlayer {
    width: 100%;
    height: 100%;
}

.contentMiddle {
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    flex: 1;
    margin-bottom: calc(64px + 1px);
    padding: 16px;
}

.contentBottom {
    touch-action: none;
    position: fixed;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%);
    max-width: 652px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    border-top: 1px solid #ebedef;
    display: flex;
    align-items: center;
    padding: 6px 16px;
}

.searchProgress {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: calc(64px + 1px);
}

.searchContainer {
    display: flex;
    align-items: center;
    flex: 1;
    border: 0;
    border-radius: 12px;
    height: 48px;
    background-color: #e8e9ed;
    min-width: 0;
    padding-left: 12px;
    padding-right: 12px;
}

.searchInput {
    flex: 1;
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-overflow: ellipsis;
    background: transparent;
    border: none
}

.searchInput:focus {
    outline: none;
}

.searchIndicator {
    margin-left: 8px;
    color: #71747a;
    font-size: 16px;
}

.searchButton {
    margin-left: 2px;
    padding: 12px;
}

.buttonEnabled {
    border-radius: 12px;
    background-color: rgb(186, 221, 255);
}

.cueContainer {
    background-color: #fff;
}

.cueTime {
    padding-left: 2px;
    padding-right: 2px;
    align-self: flex-start;
    background-color: rgb(243 248 254);
    color: #1558d6;
    font-size: 16px;
    font-weight: 500;
    margin: 12px 14px;
}

.cueText {
    font-size: 16px;
    line-height: 24px;
}

.cueContainerHighlight {
    background-color: rgba(250, 175, 22, 0.5);
}

.facebookPostText {
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 12px 14px;
}
