.main {
    position: relative;
}

.youtubePlayerContainer {
    position: sticky;
    max-width: 768px;
    width: 100%;
    height: min(56.25vw, min(768px, 100vh) * 9 / 16);
    top: 0;
}

.youtubePlayer {
    width: 100%;
    height: 100%;
}

.autoFocusButton {
    position: fixed;
    bottom: 0;
    right: 0;
}