.body {
    background-color: white;
}

.navigateProgressIndicator {
    width: 100%;
    position: fixed;
    top: 0;
}

.title {
    padding-top: calc(20px + 36px);
    width: 100%;
    text-align: center;
    background-color: #fff;
    font-size: 36px;
    font-weight: 300;
    color: #9aa0a6;
}

.searchContainer {
    height: 100vh;
    padding: calc(8px + 18px) 8px 8px;
    background-color: #fff;
}

.searchIcon {
    color: #9aa0a6;
    height: 24px;
    line-height: 24px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;

}

.searchBox {
    width: 100%;
    border: 1px solid #dadce0;
    border-radius: 25px;
    background-clip: border-box;
    background-origin: border-box;
    height: 44px;
    box-sizing: border-box;
    padding-left: calc(12px + 24px + 16px);
    padding-right: 12px;
    font-size: 16px;
}

.searchBox:focus {
    outline: none;
}

.inputPasswordProgress {
    width: 24px;
    line-height: 24px;
}

.passwordDialogContainer {
}

.oldLink {
    margin-top: 8px;
    color: #9aa0a6;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.sampleSearchContainer {
    margin-top: 16px;
}

.sampleSearchChip {
}

.version {
    margin-top: 24px;
    margin-bottom: 8px;
    color: #9aa0a6;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.demoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.changeLog {
    width: 100%;
    text-align: center;
    color: #9aa0a6;
    display: inline-block;
    line-height: 24px;
}
