.main {

}

.navigateProgressIndicator {
    width: 100%;
    position: fixed;
    top: 0;
}

.searchContainer {
    padding: 16px;
    background-color: #fff;
}

.searchIcon {
    color: #9aa0a6;
    height: 24px;
    line-height: 24px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;

}

.searchBox {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(60 64 67 / 16%);
    border: 0;
    border-radius: 25px;
    background-clip: border-box;
    background-origin: border-box;
    height: 44px;
    box-sizing: border-box;
    padding-left: calc(12px + 24px + 16px);
    padding-right: 12px;
    font-size: 16px;
}

.searchBox:focus {
    outline: none;
}

.hitList {

}

.hitContainer {
    padding: 12px 16px;
    margin-bottom: 8px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #ebedef;
}

.hitDescription {
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
}

.hitDescription > strong {
    font-weight: 700;
}

.hitTitle {
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: none;
    color: #1558d6;
}

.nextPageRow {
    background-color: #fff;
    padding: 20px 16px 44px;
}

.nextPageButton {
    font-family: Google Sans, Roboto-Medium, HelveticaNeue-Medium, Helvetica Neue, sans-serif-medium, Arial, sans-serif;
    background-color: #f1f3f4;
    height: 40px;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration-style: solid;
    text-decoration-line: none;
    color: #202124;
}

.nextPageIcon {
    margin-left: 8px;
    height: 20px;
    line-height: 20px;
}

.endOfResultIndicator {
    height: 20px;
    font-size: 14px;
    color: #70757a;
    padding-top: 16px;
    padding-bottom: 44px;
    text-align: center;
}